/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* HSL color mode */
  --base-color: hsl(0 0% 90%);
  --base-color-second: hsl(210 10% 30%);
  --base-color-alt: hsl(160 41% 1%);
  --title-color: hsl(160 41% 1%);
  --title-color-light: hsl(0 0% 90%);
  --text-color: hsl(160 41% 1%);
  --text-color-light: hsl(0 0% 90%);
  --details: #6c757d ;
  --details-blue: #DFDFE2;
  --details-green: hsl(141 43% 62%);

  /* font-size */
  --title-font-size: 1.75rem;
  --subtitle-font-size: 1.25rem;
  --body-text: 1.125rem;
  /* font-type */
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 var(--body-text) var(--body-font);
  color: var(--text-color-light);
  background: var(--base-color-second);
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1rem;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color-light);
  -webkit-font-smoothing: auto;
}

.subtitle {
  font: 700 var(--subtitle-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--details-green);
  color: var(--text-color);
  height: 4rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 2rem;
  font: 700 1.2rem var(--title-font);
  transition: background 0.3s;
  border: none;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.button:hover {
  background-color: #4FB674;
  transform: translateY(-5px)
}

.divider-1 {
  height: 2px;
  background: linear-gradient(
    270deg,
    #fa2e00,
    rgb(197, 198, 198)
  );
}

.div_link{
  text-align: right;
  padding: 0 1.5rem;
}
.link {
  color: red;
  font: 700 1rem var(--title-font);
}


/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.margem {
  background: var(--light);
}

/* .section {
  padding: calc(5rem + var(--header-height)) 0;
} */

.section .title {
  margin-bottom: 2rem;
}

/*====  INÍCIO ============================ */

#Inicio .container {
  margin: 0;
}

/* imagens */
.top-images svg{
  transform: rotate(180deg);
}

.image-1{
  position: absolute;
  z-index: 1;
}

.image-2{
  position: relative;
  z-index: 0;
}

/* texto */

#Inicio .text{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* video */
#Inicio .video {
  position: relative;
}

#Inicio .video::before {
  content: '';
  height: 50%;
  width: 100%;
  background: var(--details-blue);
  position: absolute;
  top: -5%;
  left: -30%;
  opacity: 0.1;
  z-index: 0;
}

#Inicio .video iframe {
  position: relative;
  z-index: 0;
  width: 360px;
  min-height: 360px;
}

#Inicio .video iframe,
#Inicio .video::before {
  border-radius: 0.25rem;
}

#Inicio .button{
  margin-bottom: 4.5rem;
}

/*====  FOOTER ============================ */

footer {
  background: var(--details);
  font: 400 1rem var(--body-font);
  color: var(--text-color);
}

footer.section {
  padding: 1rem 0;
}
footer img {
  width: 2rem;
}

footer .brand p {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

/* =================================================================================================== */

#Sellpage {
text-align: center;
}

#Sellpage img{
width: 100%;
position: relative;
  }
/*====  RESPONSIVO ============================ */


@media (min-width: 1200px) {
  .container {
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .text h1,
  .text p{
    position: relative;
    top: -7rem;
  }

  .text p {
  max-width: 40rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

  #Inicio .video{
    display: block;
    margin: auto;
    margin-top: -6rem;
  }

  #Inicio .video::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--details-blue);
    position: absolute;
    top: -5%;
    left: -3%;
    z-index: 0;
  }

  #Inicio .video iframe {
    position: relative;
    z-index: 0;
    width: 660px;
  }

    /* Footer */
  
    footer .container {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-around;
    }
  
    footer .logo {
      font-size: 2.5rem;
    }


    #Sellpage img{
      width: 50%;
      position: relative;
      top: -2rem;
        }

      #Sellpage .button{
        position: relative;
        top: -3rem;
    }


  :root {
    --header-height: 10.5rem;
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.375rem;
    --body-text: 1.5rem;
  }
}
